<h1>Stupid Coaching - Page Answer</h1>

<div class = "question">
  <h2>Question posée</h2>
  <%= @my_question %>
</div>

<div class = "answer">
  <h2>Réponse</h2>
  <%= @coach_answer %>
</div>

<div>
<%= link_to "Ask a new question", ask_path %>
</div>
