// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
h1 {
  color:red;
}

h2 {
  color:blue;
}

p {
  color:green;
}

.question {
  background: white;
}

.answer {
  background: yellow;
}
